body {
    text-align: center;
    background: url("vectorArt.jpg");
    background-attachment: fixed;
  }
  
  h1 {
    font-family: "Bungee Shade", cursive;
    font-size: 70px;
    margin: 0.2em;
    text-decoration: underline;
    color: rgba(15, 13, 136, 0.9);
  }
  
  h2 {
    margin: 1em 0 0.25em;
  }
  
  h2 {
    margin-top: 0.5em;
    text-decoration: underline;
  }
  
  table,
  tr,
  td {
    border: 1px solid black;
  }
  
  table {
    border-collapse: collapse;
    margin: 0 auto;
  }
  
  tr {
    height: 20px;
  }
  
  td {
    width: 20px;
  }
  
  input[type="number"] {
    width: 6em;
  }
  
  #eraserButton {
    border: 1px solid black;
    border-radius: 5px;
  }
  
  #button {
    border: 1px solid black;
    border-radius: 5px;
  }
  
  #grid {
    color: rgb(231, 235, 8);  
    background-color: rgba(63, 63, 42, 0.3);
    margin-right: 60%;
    border: 3px solid rgba(13, 52, 226, 0.9);
    width: 30%;
    padding-top: 2%;
    padding-bottom: 2%;
  }
  
  #design {
    font-family: "Press Start 2P", cursive;
    margin-top: -20.5%;
    margin-left: 40%;
    color: rgba(17, 216, 60, 0.9);
    cursor: crosshair;
  }