#wrapper {
  display: grid;
  grid-template-columns: repeat(3, auto);
}
body {
  background: url(../images/stars.jpg);
  object-fit: cover;
  color: white;
}

.instructions {
  grid-column: 2 / 3;
  margin: auto;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  padding: 0 20px 5px 20px;
}
.instructions h2 {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
button {
  border: 1px solid black;
  border-radius: 3px;
  padding: 3px;
}
.score {
  grid-column: 2 / 3;
  margin: auto;
}

.action {
  grid-column: 2 / 3;
  padding-top: 10px;
  margin: auto;
}
.green {
  color: rgb(8, 245, 8);
  font-weight: bold;
}

/* Button styling on hover */
.selected {
  background: white;
  color: lightblue;
  border: 1px solid white;
}
