.wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 100px 1fr 100px;
  grid-gap: 20px;
}
.title {
  text-align: center;
  grid-column-start: 4;
  grid-column: span 4;
  border-bottom: 1px solid black;
}
.counter1 {
  display: grid;
  grid-column-start: 2;
  grid-row-start: 3;
  justify-content: center;
}
.counter2 {
  display: grid;
  grid-column-start: 3;
  grid-row-start: 3;
  justify-content: center;
}
.cat_img1 {
  width: 100%;
  grid-row-start: 2;
  grid-column-start: 2;
}
.cat_img2 {
  width: 100%;
  grid-row-start: 2;
  grid-column-start: 3;
}
